{
  "parser": "babel-eslint",
  "extends": ["eslint:recommended", "plugin:react/recommended"],
  "env": {
    "jest": true
  },
  "settings": {
    "react": {
      "version": "16"
    }
  },
  "rules": {
    "no-unused-vars": ["error", { "ignoreRestSiblings": true }]
  }
}
